<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookshelf</title>
</head>
<body>
{% block content %}
    <h1>{% block title %} Search History {% endblock %}</h1>
    {% for book in Books %}
         <br>
        <div class='post'>
            <p>Title: {{ book['Title'] }}</p>
            <p>Book ID: {{ book['ID'] }}</p>
            <p>Genre: {{ book['Genre'] }}</p>
            <p>Author: {{ book['Author'] }}</p>
        </div>
         <br>
    {% endfor %}
{% endblock %}

</body>
</html>